$color-1: #deeaf1;
$color-2: #aed6f1;
$color-3: #3498db;
$color-4: #21618c;
$color-5: #081924;
$color-6: #808080;

$color-title: #fff;
$color-title2: #000;
$color-title3: #c3c3c3;
$color-title-hover: #255590;

$dark-theme: #040F15;
$light-theme: #fffc;