@import "../../styles/Colors.scss";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem;
  a,p{
    text-decoration: none;
    color: $color-title2;
  }
  &-image {
    width: 90%;
    border-radius: 5px;
  }
  &-description {
    padding-top: 0.5rem;
  }
  &-tech {
    margin: 1rem 0;
    align-self: flex-start;
  }
  &-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .tag {
      border-radius: 4px;
      background-color: $color-3;
      color: $color-title;
      margin: 5px;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 300px;
  }
}
