@import '../../../styles/Colors.scss';
.certificates {
  &-title{
    font-weight: bold;
    font-size: 1rem;
    padding-top: 2rem;
  }
  &-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0px;
  }
  &-image{
    display: none;
  }
  &-list{
    padding: .5rem;
    li{
      padding-left: 1rem;
      line-height: 2rem;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .certificates {
    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    &-image{
      display: block;
      max-width: 400px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .certificates {
    &-image{
      max-width: 500px;
    }
  }
}