@import '../../styles/Colors.scss';

@mixin footer-top-items{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 70px;
  padding: 2rem;
  padding-top: 3rem;
  line-height: 1.5rem;
  h5{
    margin-top: 1.5rem;
    font-weight: bold;
  }
}

.footer {
    background-color: $color-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;

    &-top,
    &-bottom{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
    }
    &-bottom p {
      padding: .5rem;
    }
    &-location{
      @include footer-top-items;
      background-image: url(../../assets/images/marker.png);
    }
    &-contact{
      @include footer-top-items;
      background-image: url(../../assets/images/contact-card.png);
      &__link{
        text-decoration: none;
        color: $color-title2;
      }
    }
    &-media{
      @include footer-top-items;
      background-image: url(../../assets/images/comments.png);
      .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 75px;
        gap: 10px;
      }
      &__linkedin{
        background-image: url(../../assets/images/icons8-linkedin-circundado.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
      }
      &__github {
        background-image: url(../../assets/images/icons8-github.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
      }
      &__facebook {
        background-image: url(../../assets/images/icons8-facebook.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
      }
      &__whatsapp {
        background-image: url(../../assets/images/icons8-whatsapp.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
      }
    }
}

@media screen and (min-width: 768px){
  .footer{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    &-top{
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-location, &-media, &-contact{
      width: 33.33%;
    }
  }
}